@{
    ViewData["Title"] = "_Layout";
}
<h2>_Layout Page to be created in the next module</h2>
@*the renderBody is a MVC specific method,  is used to render the content of a child view*@
@RenderBody()